- if @messages.empty?
  %p メッセージを送ってみよう！
- else
  .talk
    - @messages.each do |message|
      - sender_type = message.user.id == current_user.id ? "current_user" : "friend_user"
      .message
        %div{class: "#{sender_type}"}
          = message.user.name
          .content
            = message.text
      %br

.message_form
  = simple_form_for @message, url: {action: 'create'} do |f|
    = f.text_area :text
    = f.hidden_field :talk_id, value: params[:talk_id]
    = f.hidden_field :user_id, value: current_user.id
    = f.button :submit

:css
  .talk{
    width: 1000px;
    margin: auto;
  }
  .message_form{
    width: 1000px;
    margin: auto;
    clear: both;
  }
  .message{
    margin: 50px;
  }
  .current_user{
    float: right;
    background: #88E054;
    border-radius: 10px;
    padding: 5px;
  }
  .friend_user{
    float: left;
    background: white;
    border-radius: 10px;
    padding: 5px;
  }
