%h1 Talks#new
%p Find me in app/views/talks/new.html.haml

= simple_form_for @talk do |f|
  = f.input :title
  = f.hidden_field :user_1_id, value: current_user.id
  - @users.each do |user|
    - if talk_already_exists?(user)
      = link_to "#{user.name}とのトークはこちら", talk_messages_path(existing_talk(user))
    - else
      = f.radio_button :user_2_id, user.id
      = user.name
    %br
  %br
  = f.button :submit

= link_to "ホームに戻る", root_path
