%h1 Talks#new
%p Find me in app/views/talks/new.html.haml

= simple_form_for @talk do |f|
  = f.input :title
  = f.hidden_field :user_1_id, value: current_user.id
  - User.all.each do |user|
    = f.radio_button :user_2_id, user.id
    = user.email
  %br
  = f.button :submit
