!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LineLikeApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav{class: "navbar navbar-default"}
      %div{class: "container-fluid"}
        %div{class: "navbar-header"}
          = link_to "LINE", root_path, class: "navbar-brand"
        %div{class: "collapse navbar-collapse", id: "navbarEexample"}
          %ul{class: "nav navbar-nav", style: "float: right;"}
            - if current_user.present?
              %li= link_to current_user.name, "#"
              %li= link_to "ログアウト", destroy_user_session_path
            - else
              %li= link_to "ログイン", new_user_session_path
              %li= link_to "登録", new_user_registration_path
    %p.notice= notice
    %p.alert= alert
    = yield
